.default {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
}

.details {
  padding: 10px 10px 0 10px;
  display: flex;
  flex-direction: column;
  align-self: center;
  flex: 0 0 400px;
}

.artist {
  font-weight: 500;
}

.thumbnail {
  height: 143.147px;
}

.title {
  opacity: 0.46;
  flex: 0 0 100px;
  width: 300px;
}

.btnAdd {
  display: inline-block;
  align-self: center;
}
