.default {
  display: flex;
  flex-direction: row;
  margin: 5px 0;
}

.details {
  padding: 0 10px;
  flex-direction: column;
}

.artist {
  font-weight: 500;
}

.title {
  opacity: 0.46;
}

.btnAdd {
  display: inline-block;
  align-self: center;
}
