.default {
  padding-bottom: 10vh;
}

.item {
  transition: background-color 0.5s;
  background-color: black;
  position: relative;
  max-height: 25vw;
  overflow-y: hidden;
  font-size: 4.26666667vw;

  .background-img {
    background-color: blue;
    opacity: 0.6;
    width: 100%;
  }

  .info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 8vw;
    font-size: 0.8em;
    max-width: 60vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .artist {
    font-weight: bold;
  }

  .close-icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 5px;
    margin-right: 8vw;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 50%;
  }

  .buttonUp {
    position: absolute;
    top: 50%;
    height: 20px;
    width: 22px;
    right: 8vw;
    transform: translateY(-50%);
    padding: 5px;
    margin-right: 12vw;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 50%;
  }
}
